body {
    /*background-color: #5E5694;*/
    /*color: white;*/
    margin: 0;
    font-family: 'Roboto Mono', monospace;


}
header {
    background-color: #5E5694;
    width: 100%;
    height: 60px;
}

ul {
    margin: 0;
    display: flex;
    list-style-type: none;
}
li {
    margin-top: 18px;
    flex: 1;
}
a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

img {
}

